@model List<HomeAutomation.Database.LogRow>

<div id="messages" class="container-fluid">
    <div class="row font-weight-bold">
        <div class="col-md-2">Timestamp</div>
        <div class="col-md-10">Message</div>
    </div>
    @foreach (var row in Model)
    {
        <div class="row">
            <div class="col-md-2">@row.Timestamp.ToLocalTime()</div>
            <div class="col-md-10">@row.Message</div>
        </div>
    }
</div>