/*!
 * Local site.css
 */
html,body{
    height: 100%;
    width: 100%;
}

body {
    padding-top: 86px;
    background-color: #EBEBEB;
}


.navbar {
    background-color: #394540;
    color: #FFF;
}

.navbar a {
    color: #FFF;
}

.navbar .home {
    font-size: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}


.link-block{
    margin-bottom: 30px;
}

.link-block a {
    background-color: #ADC53D;
    display: block;
    color: #394540;
    padding: 30px;
}

.link-block a:hover {
    text-decoration: none;
}

.link-block a span.fa {
    font-size: 60px;
    margin-bottom: 20px;
}

.link-block a h2 {
    font-size: 40px;
    margin-bottom: 0;
}


.camera-block {
    margin-bottom: 30px;
}

.camera-block a {
    background-color: #ADC53D;
    display: block;
    color: #394540;
    padding: 5px;
}

.camera-block a .img {
    height: 200px;
    width: 100%;
    background-size: cover;
}

.camera-block a h2 {
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 0;
}


.sensor-block {
    margin-bottom: 30px;
}

.sensor-block a {
    background-color: #ADC53D;
    display: block;
    color: #394540;
    padding: 30px 5px 15px;
}

.sensor-block a h2{
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
}

.sensor-block a .col{
    text-align: center;
}

.sensor-block a .col span {
    display: block;
}

.sensor-block a .col span.fa {
    font-size: 25px;
    margin-bottom: 5px;
}

.sensor-block a .col span.value {
    font-size: 20px;
}


.light-block {
    margin-bottom: 30px;
}

.light-block a {
    background-color: #ADC53D;
    display: block;
    color: #394540;
    padding: 30px 5px 15px;
    cursor: pointer;
}

.light-block a h2 {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
}

.light-block a .col {
    text-align: center;
}

.light-block a .col span {
    display: block;
}

.light-block a .col span.fa, .light-block a .col-1 span.indicator {
    font-size: 25px;
    margin-bottom: 5px;
}

.light-block a .col span.value {
    font-size: 20px;
}



.overlay {
    width: 100%;
    background: rgba(10,10,10,0.8);
    position: absolute;
    left: 0;
}

.overlay .fa {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}

.overlay .img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}