@model HomeAutomation.Models.Camera.ListCameraModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @foreach (var camera in Model.Cameras)
    {
        <div class="col-md-6 camera-block">
            <a href="/camera/capture/@(camera.ID)/full">
                <div class="img" style="background-image: url('/camera/capture/@(camera.ID)/thumbnail')"></div>
                <h2>@camera.Name</h2>
            </a>
        </div>
    }
</div>