@model HomeAutomation.Models.Telldus.AddDeviceModel

@{
    ViewData["Title"] = "Add Device";
}

<h2>Add Telldus Device</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDevice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protocol" class="control-label"></label>
                <input asp-for="Protocol" class="form-control" />
                <span asp-validation-for="Protocol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParameterHouse" class="control-label"></label>
                <input asp-for="ParameterHouse" class="form-control" />
                <span asp-validation-for="ParameterHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParameterUnit" class="control-label"></label>
                <input asp-for="ParameterUnit" class="form-control" />
                <span asp-validation-for="ParameterUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

